.Login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    font-family: 'Playfair Display', serif;
}

.Login form {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:23vw;
}

.Login input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .Login button {
    background-color: #fa923f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .Login button:hover {
    opacity: 0.8;
  }

  .Login p {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1vh;
}

@media(max-width: 800px) {
  .Login {
    margin-top: 35%;
  }

  .Login form {
    width:300px
  }
}